.col-sm-4.col-md-3.proto-content
  - if user_signed_in? && current_user.id == prototype.user_id
    .dropdown.drop_menu_location
      %button.btn.btn-default{ id: "dropdownMenu", type: "button",  data: { toggle: "dropdown" } } ACTION
      %ul.dropdown-menu{ aria: {labelledby: "dropdownMenu1"} }
        %li
          =link_to "Delete", prototype_path(prototype), rel: "nofollow", data: {method: "delete"}
        %li
          =link_to "Edit", edit_prototype_path(prototype)
  .thumbnail#content
    - if prototype.prototype_thumbnails.main.present?
      = link_to prototype_path(prototype) do
        = image_tag(prototype.prototype_thumbnails.main.first.image)
    .caption
      %h3
        = prototype.title
      .proto-meta
        .proto-user
          = link_to "by #{prototype.user.name}", user_path(prototype.user)
        .proto-posted
          = prototype.created_at.strftime("%b %d")
      %ul.proto-tag-list.list-inline
        = render partial: "prototypes/tags/tag", collection: prototype.tags
