.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to "#"
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            = link_to "by #{@prototype.user.name}", user_path(@prototype.user.id)
            %span.degree
            = @prototype.user.profile

    .col-md-6.text-right
  .row
    .col-md-9
      - if user_signed_in? && @prototype.user_id == current_user.id
        .dropdown.drop_menu_location
          %button.btn.btn-default.dropdown-toggle{ aria: {expanded: "false" }, data: { toggle: "dropdown" }, href: "#", role: "button", id: "dropdownMenu" }
            Action
            %span.caret
          %ul.dropdown-menu{ role: "menu" }
            %li
              = link_to 'Edit', edit_prototype_path(@prototype)
            %li
              = link_to 'Delete', @prototype, method: :delete
      = image_tag("sample.png", class: 'img-responsive')
    .col-md-3
      %ul.proto-sub-list.list-group
        - @prototype.prototype_thumbnails.sub.each do |sub|
          %li.list-group-item
            = image_tag( sub.prototype_thumbnails, class: 'img-responsive')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
      = @prototype.catchcopy
    .col-md-6
      %h4 Concept
      %p
      = @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          = link_to "iPad", '#', class: "btn btn-default"
        %li
          = link_to "wireframe", '#', class: "btn btn-default"
